@font-face {
	font-family: "CountryBlueprint";
	src: url("../fonts/CountryBlueprint.ttf");
}
@font-face {
	font-family: "MarcellusSC";
	src: url("../fonts/MarcellusSC-Regular.ttf");
}
@font-face {
	font-family: "Jura";
	src: url("../fonts/Jura-DemiBold.otf");
}
@font-face {
	font-family: "Orbitron";
	src: url("../fonts/Orbitron-Regular.ttf");
}
@font-face {
	font-family: "IndieFlower";
	src: url("../fonts/IndieFlower.ttf");
}